body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ui.primary.button,
.ui.primary.buttons .button {
  background-color: #11c1ab !important;
  color: white !important;
}

.ui.blue.menu .active.item,
.ui.menu .blue.active.item {
  color: #11c1ab !important;
}

.ui.secondary.button,
.ui.secondary.buttons .button {
  background-color: #34495e !important;
  color: white !important;
}

.ui.negative.active.button {
  background-color: #ff5e57 !important;
  color: white !important;
}
.ui.basic.negative.button,
.ui.basic.negative.button:hover {
  color: #ff5e57 !important;
  border-color: #ff5e57 !important;
}

.ui.positive.active.button {
  background-color: #11c1ab !important;
  color: white !important;
}

.ui.basic.positive.button,
.ui.basic.positive.button:hover {
  color: #11c1ab !important;
  border-color: #11c1ab !important;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus {
  border-color: #11c1ab !important;
}

.ui.selection.dropdown:focus,
.ui.selection.dropdown:focus .menu {
  border-color: #11c1ab !important;
}

.Toastify__toast--error {
  background-color: #ff5e57;
}

.ui.menu .item {
  color: #34495e !important;
}
